body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('0xmusicyoutubetemplat.png');
    background-size: cover;
    background-attachment: fixed; 
}

.search-container {
    margin-top: 20px;
    text-align: center;
}

.search-input {
    padding: 10px;
    width: 400px;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
}

.search-button {
    padding: 12px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.search-button:hover {
    background-color: #0056b3;
}

.container {
    max-width: 800px; 
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

input[type="text"] {
    width: 70%;
    padding: 8px;
    margin-right: 10px;
}

button {
    padding: 8px 20px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
}

button:hover {
    background-color: #45a049;
}

#searchResults {
    margin-top: 20px;
    text-align: left;
}

.search-table {
    width: 80%;
    border-collapse: collapse;
 
    margin-left: 125px; 
    margin-right: 10px;
}

.search-table th {
    background-color: #f2f2f2;
    color: white; 
}

.search-table td, .search-table th {
    
    padding: 8px;
    text-align: left; 
}

.search-table a {
    color: purple; 
    text-decoration: none; 
}
